
body {
    font-family: sans-serif;
    background-color: #FDD692;
}

.header {
	background-color: #754F44;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.menu_head {
	margin-top: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 290%;
}

.menu {

    margin-top: 100px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 150%
}

.menu_icon {
    height: 216px;
    width: 215px
}


.comment_head {
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.center {
	margin-top: 50px;
	margin-left:150px;
	text-align: left;
	font-family: sans-serif;
	font-size: 120%;
}

.input_box {
	background-color:#E0E3DA;
	margin-top: 25px;
	margin-left:150px;
	text-align: left;
	font-family: sans-serif;
	font-size: 120%;
}

.submit_btn {
	background-color:#6d819c;
	margin-top:20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 120%;

}

.comment_list {
	background-color:#FBFFB9;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #F6B352;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

#menu_page_item_list {
	margin: 0;
    overflow: hidden;
    float:left;
    width:450px;
	border:3px solid #F6B352;	
	background-color:#FBFFB9;
	margin-left:125px;
	margin-top: 25px;
	font-family: sans-serif;
	font-size: 120%;
}

.place_order_submit_btn {
	background-color:#6d819c;
	font-family: sans-serif;
	font-size: 75%;

}

#bill{
	display: inline-block;
    background-color:#77919d;
    border: 3px solid ;
    color: white;
	margin-left:20px;
	margin-top:25px;
    padding: 14px 16px;
    width:200px;
    text-decoration: none;
}