.home_page{
	font-family: sans-serif;
    background-color: #79bd9a;
}
.home_page_header{
	background-color: #3b8686;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}
.home_page_header_small{
	margin-top: 10px;
	text-align:center;
	text-align: center;
	font-family: sans-serif;
	font-size: 290%;
	background-color:#a8dba8;
	
}
.featured_pages{
	text-align: center;
	margin-top: 20px;
	margin-left:350px;
	font-family: sans-serif;
	font-size: 80%;	
	background-color:#99f19e;
	width:600px;
}

.home_page_categories_head{
	margin-top: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 290%;
	background-color:#cff09e;
}

#home_page_categories{
	text-align:left;
	background-color:#feee7d;
	margin-top: 25px;
	margin-left:325px;
	width:600px;
	font-family: sans-serif;
	font-size: 50%;
}


.cafe_menu {
    font-family: sans-serif;
    background-color: #FDD692;
}


.cafe_menu_comment_head {
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.header {
	background-color: #754F44;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.page_head {
	margin-top: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 290%;
}

.menu {
    margin-top: 100px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 150%
}

.menu_icon {
    height: 216px;
    width: 215px
}


.cafe_menu_comment_head {
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}



.page_head_block {
	margin-top: 20px;
	font-family: sans-serif;
	font-size: 220%;
}

.center {
	margin-top: 50px;
	margin-left:150px;
	text-align: left;
	font-family: sans-serif;
	font-size: 120%;
	width:1000px;

}

.input_box {
	background-color:#E0E3DA;
	margin-top: 25px;
	margin-left:150px;
	text-align: left;
	font-family: sans-serif;
	font-size: 120%;
}

.submit_btn {
	background-color:#6d819c;
	margin-top:20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 120%;

}

.cafe_menu_comment_list {
	background-color:#FBFFB9;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #F6B352;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

/* for cafe_menu_list in the order_page*/
#cafe_menu_item_list {
	margin: 0;
    overflow: hidden;
    float:left;
    width:450px;
	border:3px solid #F6B352;	
	background-color:#FBFFB9;
	margin-left:125px;
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 120%;
}

.place_order_submit_btn {
	background-color:#6d819c;
	font-family: sans-serif;
	font-size: 75%;

}

#cart{
	display: inline-block;
    background-color:#77919d;
    border: 3px solid ;
    color: white;
	margin-left:20px;
	margin-top:30px;
    padding: 14px 16px;
    width:300px;
    text-decoration: none;
}



.side_nav_link{
	margin-top:-25px;
	float:right;
	font-family: sans-serif;
	font-size: 75%;

}

.side_nav_bar{
	color:white;
	font-family: sans-serif;
	font-size: 100%;
}


.News  {
    font-family: sans-serif;
    background-color: #58C9B9;
}

.News_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.News_header {
	background-color: #519D9E;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.News_comment_list {
	background-color:#9DC8C8;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #D1B6E1;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.Music  {
	color:white;
    font-family: sans-serif;
    background-color: #52616a;
}

.Music_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.Music_header {
	background-color: #282c37;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.Music_comment_list {
	background-color:#a3a1a1;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #D1B6E1;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.Sports ,.Food {
    font-family: sans-serif;
    background-color: #ffc952;
}

.Sports_comment_head,.Food_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.Sports_header,.Food_header {
	background-color: #ff7473;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.Sports_comment_list,.Food_comment_list {
	background-color:#47b8e0;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #34314c;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.Bugs  {
	color:#feee7d;
    font-family: sans-serif;
    background-color: #C5C6B6;
}

.Bugs_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.Bugs_header {
	background-color:  #F16B6F;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.Bugs_comment_list {
	background-color:#AACD6E;
	margin-top: 25px;
	margin-left:150px;
	border:5px solid #AACD6E;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.Sports {
    font-family: sans-serif;
    background-color: #f9a11b;
}

.Sports_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.Sports_header{
	background-color: #274555;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.Sports_comment_list {
	background-color:#ff7761;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #fdc23e;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.Test  {
	color:#1f4e5f;
    font-family: sans-serif;
    background-color: #aacfd0;
}

.Test_comment_head{
	margin-top: 20px;
	margin-left:150px;
	font-family: sans-serif;
	font-size: 220%;
}

.Test_header{
	background-color: #79a8a9;
	text-align: center;
	font-family: sans-serif;
	font-size: 350%;
}

.Test_comment_list{
	background-color:#f4f7f7;
	margin-top: 25px;
	margin-left:150px;
	border:1px solid #D1B6E1;
	width:600px;
	font-family: sans-serif;
	font-size: 120%;
}

.details{
	font-size:75%;
	margin-left:5px;
}
